
USE [Classifieds]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](12) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Salt] [nchar](6) NOT NULL,
	[Birth] [date] NULL,
	[Adress] [nvarchar](150) NULL,
	[Avatar] [nvarchar](300) NULL,
	[Rold] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](100) NOT NULL,
	[CateIcon] [nvarchar](100) NOT NULL,
	[Alias] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentedBy] [int] NOT NULL,
	[NewsID] [int] NOT NULL,
	[ContentCom] [nvarchar](max) NOT NULL,
	[CommentedDate] [datetime] NOT NULL,
	[Likes] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[GalleryID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[Image] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[GalleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Sumary] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[UpdatedDate] [date] NULL,
	[LuotXem] [int] NULL,
	[Status] [bit] NOT NULL,
	[Alias] [nvarchar](500) NULL,
 CONSTRAINT [PK_New] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[CateID] [int] NOT NULL,
	[PostedBy] [int] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Adress] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Image] [nvarchar](300) NULL,
	[Status] [bit] NOT NULL,
	[Alias] [nvarchar](500) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavePost]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavePost](
	[PostID] [int] NOT NULL,
	[CaredBy] [int] NOT NULL,
 CONSTRAINT [PK_SavePost] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[CaredBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 12/26/2022 11:02:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](150) NOT NULL,
	[TopicIcon] [nvarchar](100) NOT NULL,
	[Alias] [nvarchar](500) NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [FullName], [Phone], [Email], [Password], [Salt], [Birth], [Adress], [Avatar], [Rold], [Active]) VALUES (8, N'Trần Thanh Nhàng', N'0972667944', N'admin@gmail.com', N'9b36422d36fd0a2de8cc49438f8cdeab', N'pkoc3 ', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Account] ([AccountID], [FullName], [Phone], [Email], [Password], [Salt], [Birth], [Adress], [Avatar], [Rold], [Active]) VALUES (11, N'Lê Tấn Quốc Khôi', N'097254242', N'user@gmail.com', N'6500cb8006b9b4c7d0087faafe76e378', N'^6pp^ ', NULL, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CateID], [CateName], [CateIcon], [Alias]) VALUES (4, N'Đồ điện tử', N'6ae1a800-43cb-4ab5-99bb-7816229b8dd2_Hand With Smartphone_32px.png', N'do-dien-tu')
INSERT [dbo].[Category] ([CateID], [CateName], [CateIcon], [Alias]) VALUES (5, N'Đồ gia dụng', N'955c8db8-5f3e-4900-b748-9bffab3b1a6f_fridge_with_open_door_32px.png', N'do-gia-dung')
INSERT [dbo].[Category] ([CateID], [CateName], [CateIcon], [Alias]) VALUES (6, N'Mỹ phẩm', N'855a52da-6b54-409f-b914-71fe1e6c271d_lip_gloss_32px.png', N'my-pham')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [CommentedBy], [NewsID], [ContentCom], [CommentedDate], [Likes]) VALUES (24, 8, 14, N'viết dở hơi', CAST(N'2022-12-26T22:44:03.827' AS DateTime), 0)
INSERT [dbo].[Comment] ([CommentID], [CommentedBy], [NewsID], [ContentCom], [CommentedDate], [Likes]) VALUES (25, 8, 14, N'ád', CAST(N'2022-12-26T22:59:12.650' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Gallery] ON 

INSERT [dbo].[Gallery] ([GalleryID], [PostID], [Image]) VALUES (21, 46, N'f3cfa4d8-f5ff-4d8f-9da6-d93b3f842e9e_11.jpg')
INSERT [dbo].[Gallery] ([GalleryID], [PostID], [Image]) VALUES (22, 46, N'1604a45b-2ca3-4e14-8b35-3b9f0536d406_g1.jfif')
INSERT [dbo].[Gallery] ([GalleryID], [PostID], [Image]) VALUES (23, 46, N'64bea443-7475-4319-8dc7-5571496c6cec_g2.jfif')
SET IDENTITY_INSERT [dbo].[Gallery] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([TopicID], [TopicName], [TopicIcon], [Alias]) VALUES (2, N'Việc làm', N'fc7b7ce4-6a81-4e44-93fc-6b7287074d10_job.jpg', N'viec-lam')
INSERT [dbo].[Topic] ([TopicID], [TopicName], [TopicIcon], [Alias]) VALUES (3, N'Công nghệ', N'2f75f532-30c7-4902-9aeb-78a43fe02dba_congnghe.jpg', N'cong-nghe')
INSERT [dbo].[Topic] ([TopicID], [TopicName], [TopicIcon], [Alias]) VALUES (4, N'Giải trí', N'ee68f12e-5299-4207-a01f-3418be622888_tu-vung-tieng-anh-ve-giai-tri-1-1024x683.jpg', N'giai-tri')
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Likes]  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_LuotXem]  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Account] FOREIGN KEY([CommentedBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Account]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_News] FOREIGN KEY([NewsID])
REFERENCES [dbo].[News] ([NewsID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_News]
GO
ALTER TABLE [dbo].[Gallery]  WITH CHECK ADD  CONSTRAINT [FK_Gallery_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gallery] CHECK CONSTRAINT [FK_Gallery_Post]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Account] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Account]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Topic] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topic] ([TopicID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Topic]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Account] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Account]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Category] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Category]
GO
ALTER TABLE [dbo].[SavePost]  WITH CHECK ADD  CONSTRAINT [FK_SavePost_Account] FOREIGN KEY([CaredBy])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[SavePost] CHECK CONSTRAINT [FK_SavePost_Account]
GO
ALTER TABLE [dbo].[SavePost]  WITH CHECK ADD  CONSTRAINT [FK_SavePost_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavePost] CHECK CONSTRAINT [FK_SavePost_Post]
GO
